@import "../../../theme/_colors.scss";

.background {
  background: rgba(12,148,99, 0.7);
  border-radius: 10;
  margin: 15;
}

.form {
  width: 100%;
  margin-left: 30;
  margin-right: 30;

  .input-field {
    margin-bottom: 20;

    .input {
      font-size: 20;
      placeholder-color: $primary;
    }
  }
}

.btn-primary {
  height: 50;
  font-size: 20;
  font-weight: 600;
}

.header {
  font-size: 25;
  text-align: center;
  color: $primary;
  font-weight: 600;
  margin-bottom: 70;
  letter-spacing: 0.2;
}

.profile {
  color: $primary;
  font-size: 34;
  border-bottom-width: 2;
  border-bottom-color: $primary;
}

.circle {
  width: 100;
  height: 100;
  border-radius: 100%;
  border-width: 2;
  border-color: $primary;
  background: white;
  margin-top: 15;
  text-align: center;
}

.circle1 {
  text-align: center;
  background-color: white;
  border-radius: 100%;
  width: 100;
  height: 100;
  font-size: 54px;
  margin-top: 15;
}

.h2 {
  color: white;
}

.first {
  margin-top: 20;
}

.lbl {
  font-size: 20;
  color: Black;
  text-align: center;
  margin-top: 35;
}

.dropdown {
  text-align: center;
}

.txt {
  width: 50%;
  color: white;
  border-bottom-color: white;
}

.animate-up {
  animation-name: slide-up;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.view {
  animation-name: scale;
  animation-duration: 3;
}
@keyframes scale {
  from { transform: scale(0, 0);
    background-color: $secondary;}
  to { transform: scale(1, 1);
    background-color: $primary;}
}


@keyframes slide-up {
  from {
    transform: translateX(150);
    background-color: $secondary;
  }
  to {
    transform: translateX(0);
    background-color: $primary;
  }
}

//POSTS CSS

.list-group {
  background-color: #E8E8E8;
}

.post-content {
  margin-top: 16;
  padding-top: 16;
  background-color: #ffffff;
}

.postImageSmall {
  width: 40;
  height: 40;
  border-radius: 40;
  border-width: 0.5;
  border-color: rgba(89, 196, 32, 0.6);
  background-color:  rgba(34, 196, 196, 0.42);
  color: #737373;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.postDateSmall {
  font-size: 14;
  color: #858585;
}

.postAuthorName {
  font-size: 17;
  color: #000;
  margin-top: 2;
}

.postTitle {
  font-size: 17;
  color: #000;
  padding: 10;
}

.icon-post {
  font-size: 18;
  color: #2aa198;
  padding: 12 0;
  text-align: center;
  margin-left: -24;
}

.text-icon-post {
  font-size: 12;
  color: #1aa3ff;
  margin-left: 16;
  text-align: center;
  padding: 12 0; /* ios: padding: 8 0*/
}

.add-button {
  background: linear-gradient(100deg, $primary, $secondary);
  width: 70;
  height: 70;
  font-size: 50;
  padding-top: -8;
  border-radius: 50%;
  color: #fff;
  margin-right: 15;
}

.overall {
  background-color: #E8E8E8;
}

button {
  background-color: #00caab;
}


.icon-post1 {
  font-size: 18;
  color: rgba(255, 0, 0, 0.56);
  padding: 12 0;
  text-align: center;
}
